/.vscode
/dev/
/projects/
/purple/
/tmp/
!/README.md

/charts/code/**
!/charts/code/ecommerce/
/charts/code/ecommerce/**
!/charts/code/ecommerce/v1
!/charts/code/ecommerce/v1/**

/charts/infra/**
!/charts/infra/postgres-cluster.v1.2/
!/charts/infra/postgres-cluster.v1.2/**

/ci_cd/projects/**
!/ci_cd/projects/ecommerce/
/ci_cd/projects/ecommerce/**
!/ci_cd/projects/ecommerce/v1
!/ci_cd/projects/ecommerce/v1/**

/helm-pkg/**
!/helm-pkg/.gitkeep

/nginx/**
!/nginx/.gitkeep

/secrets/**
!/secrets/ecommerce/
/secrets/ecommerce/**
!/secrets/ecommerce/v1/
!/secrets/ecommerce/v1/**
/secrets/ecommerce/v1/dev/**
!/secrets/ecommerce/v1/dev/external-secrets
!/secrets/ecommerce/v1/dev/external-secrets/**
!/secrets/ecommerce/v1/dev/.gitkeep
!/secrets/ecommerce/v1/dev/output
!/secrets/ecommerce/v1/dev/output/.gitkeep
#/secrets/ecommerce/v1/dev/output/**
#!/secrets/ecommerce/v1/dev/output/.gitkeep

/secrets/ecommerce/v1/prod/**
!/secrets/ecommerce/v1/prod/.gitkeep
/secrets/ecommerce/v1/stage/**
!/secrets/ecommerce/v1/stage/.gitkeep
#!/secrets/ecommerce/v1/
#!/secrets/ecommerce/v1/
# !/secrets/ecommerce/v1/**
# /secrets/ecommerce/v1/
# /secrets/ecommerce/v1/**